<h1>Users#show</h1>

<h2><%= @user.name %></h2>






<% if @orders.any? %>
    <h4>Order History</h4>
    <% @orders.each do |order| %>
        <div>
            <h5>Order #<%= order.id %></h5>

            <h6>Products Purchased</h6>
            <ul>
              <% order.order_items.each do |item| %>
                <li>
                  <%= item.product.name %> — 
                  Quantity: <%= item.quantity %>, 
                  Unit Price: <%= number_to_currency(item.product.price / 100.0) %>
                </li>
              <% end %>
            </ul>

            <p>Subtotal: <%= number_to_currency(order.sub_total / 100.0) %></p>
            <% order.order_taxes.each do |tax| %>
                <%= tax.tax_name %>:
                <%= number_to_currency((order.sub_total * tax.tax_rate).to_f / 100.0) %>
            <% end %>
            <p>Grand Total: <%= number_to_currency(order.grand_total / 100.0) %></p>

            
        </div>
    <% end %>
<% else %>
    <p>You haven't placed any orders yet</p>
<% end %>

