<h1>Order Confirmation</h1>

<p>Order ID:<%= @order.id %>
<p>Sub Total:<%= @order.sub_total / 100.0 %></p>
<p>Tax:TODO</p>
<p>Grand Total:<%= @order.grand_total / 100.0 %></p>

<h2>Items Ordered</h2>
  <% @order.order_items.each do |item| %>
    <div>
      <%= item.quantity %> x <%= item.product.name %> @ <%= item.unit_price / 100.0 %>
    </div>
  <% end %>
