<%= render 'shared/product_search_form' %>

<h1><%= @category.name %></h1>

<div class="row">
  <% @products.each do |product|%>
    <div class="col-6 col-lg-4 my-4">
      <h2><%= link_to product.name, product_path(product) %></h2>
      <p>Price: <%= number_to_currency(product.price / 100.0) %></p>
      <p>In Stock: <%= product.stock %></p>
      <p>Description: <%= product.description %></p>
    </div>
  <% end %>
</div>

<%= paginate @products %>